doctype.html
html
	head
		title= title
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/app.css')
	body
		div.container
			h1 Umbot
			block count
			block log