doctype.html
html
	head
		title= title
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/app.css')
	body
		div.container
			h1 Umbot

			ul
				li
					a(href='/') Home
				li
					a(href='/log') Log
					
			block count
			block log
			block weather