extends base

block body
	if user
				
		each val, index in logrow 

			ol#row1
				span= "#"+val.id + " [Time: " + val.time + "]"
				
			ol#row2
				span Umbrella 
					span(style='font-weight:bold')= val.umbrella_id + " "
				span was checked 
					span(style='font-weight:bold')= val.activity_status + " "
				span by 
					span(style='font-weight:bold')= val.user_name

	else
		p hey
