extends base

block vars
	- var title = 'Activity Log'
	- var bodytag = 'log'

block body
	if user

		each val, index in logrow 

			ol#row1
				span= "#"+val.id + " [Time: " + val.time + "]"
				if val.activity_status == 'IN'
					div(class='activitylog-in')
				else
					div(class='activitylog-out')
				
			ol#row2
				span Umbrella 
					span.logemphasis= val.umbrella_id + " "
				span was checked 
					span.logemphasis= val.activity_status + " "
				span by 
					span.logemphasis= val.user_name


