extends layout

block weather

	p= "Outlook: " + _summary
	p= "Current Temperature: " + _temp + " F"
	p= "Precipitation Percentage: " + _precip + "%"
	p= "Nearest Storm Distance: " + _storm + " miles"
	
